.titulo-article
{
    font-style: italic;
    font: 600 4rem/1.125 'Taviraj', sans-serif;
    color:  #45332f;
}
.ponto-span
{
    color: #556b2f;
}

.ceramicas-lista
{
    padding-top: 60px;
    padding-bottom: 120px;
}

.ceramicas-lista h2
{
    margin-bottom: 40px ;
    box-sizing: border-box;
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.ceramicas-lista ul
{
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px ;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

.ceramicas-lista li
{
    flex: 1;
    min-width: 280px;
}

.ceramicas-lista a 
{
    display: block;
}

.ceramicas-lista img
{
    margin-bottom: 16px;
}

.ceramicas-lista h3
{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.ceramicas-lista h3::before
{
    content: '';
    display: inline-block;
    height: 8px;
    width: 12px;
    margin-right: 8px;
    background-color: #556B2F;
    transition: width .2s;
}

.ceramicas-lista a:hover h3::before
{
    width: 24px
}

.ceramicas-lista li span
{
    padding-left: 20px;
}

@media(max-width: 800px)
{
    .ceramicas-lista
    {
        padding-bottom: 60px;
    }
    .ceramicas-lista ul 
    {
        gap: 20px;
    }
}