c1 
{
    color: #D1C9C0;
}

c2
{
    color: #45332F;
}

c3
{
    color: #556B2F;
}

c4
{
    color: #5E4D4A;
}

c5
{
    color: #d3c5b6;
}

c6
{
    color: #d9d1c8;
}

c7
{
    color: #d3ba9d;
}

c8
{
    color: #6e8a3d;
}

c9
{
    color: #5b7134;
}

c10
{
    color: #4b5e29;
}